#discover-features{
    border:2px solid hwb(0 29% 10%);
    background-color: antiquewhite;
    padding:20px;
    margin-bottom: 20px;

}

#etiam{
    padding:20px;
    border:2px solid hwb(0 29% 10%);
    background-color: khaki;
    
}
#gibraltar{
    padding-bottom:0px;

    
}