*{
    font-family: Arial, Helvetica, sans-serif;
}

#ai-driven-solutions {
    border:3px solid rgb(230,230,230);
    width:400px;
    padding:20px;
    border-radius:20px;

}

#ai-driven-solutions span{
    border:5px solid rgb(245,245,245);
    border-radius:10px;
    background-color:white; 
    padding:10px 10px;
    
}

#ai-driven-solutions a{
    
    padding:8px 12px;
    

}

#chips{
    margin-bottom: 25px;
    padding:100px;
}
h1{
    color:rgb(51,51,51)
    
}

#use-case{
    color:rgb(255,51,51);
    
    text-align: center;
}
#header span{
    border:2px solid rgb(245,245,245);
    border-radius:2px;
    background-color:white; 
    padding:20px;
    margin-bottom: 100px;
    font-size:medium;    
    
}
    
    
