*{
    padding:0px;
    margin:0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
nav{
    background-color: #0082e6;
    height:80px;
    width:100%;

}
label.logo {
    color: white;
    font-size : 35px;
    line-height: 80px;
    padding:0 100px;
    font-weight: bold;
    float:left;
}
nav ul{
    float:right;
    margin-right:20px;
}
nav ul li{
    display:inline-block;
    line-height: 80px;
    margin: 0 5px;
    
}
nav ul li a{
    color:rgb(255, 252, 252);
    font-size:17px;
    text-transform: uppercase;
    border-radius:3px;
    padding: 7px 13px;
}
a.active,a:hover{
    background-color: white;
    transition: 0.5s;
    
}
.checkbtn{
    font-size:30px;
    color:white;
    float:right;
    line-height: 80px;
    margin-right:40px;
    cursor:pointer;
    display: none;
}
#check{
    display:none;
}


@media (max-width:952px){
    label.logo{
        font-size:30px;
        padding-left:50px;
    }
    nav ul li a{
        font-size:16px;
    }
}
@media (max-width:858px){
    .checkbtn{
        display:block;
    }
    ul{
        position:fixed;
        width:100%;
        height:100vh;
        background: #2c3e50;
        top:80px;
        right:-100%;
        transition: all .5s;
        text-align: center;
    

    }
    nav ul li{
        display:block;
        margin:50px 0px;
        line-height:30px;
    }
    nav ul li a {
        font-size:20px;

    }
    a:hover{
        background: none;
        color:#0082e6;

    }
    #check:checked ~ ul{
        right:0;


    }
}